<!-- Gorgeous design by Michael Heilemann - http://binarybonsai.com/kubrick/ -->

<div id="footer">
    <address class="credit">
<!-- If you'd like to support WordPress, having the "powered by" link somewhere on your blog is the best way; it's our only promotion or advertising. -->
	<p>
		落园 is proudly powered by
		<a href="http://wordpress.org/">WordPress</a>		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.loyhome.com/feed/">Entries (RSS)</a> and <a href="http://www.loyhome.com/comments/feed/">Comments (RSS)</a>. <br />
	Original designed for <a href="http://www.textcube.org" target="_blank"><SPAN class=letterT>T</SPAN><SPAN 
class=letterE>E</SPAN><SPAN class=letterX>X</SPAN><SPAN 
class=letterT2>T</SPAN><SPAN class=letterC>C</SPAN><SPAN 
class=letterU>U</SPAN><SPAN class=letterB>B</SPAN><SPAN 
class=letterE2>E</SPAN></a> by <A href="http://1upz.com">1up</A> of <A 
onclick="window.open(this.href); return false" 
href="http://tiskin.com">tiskin</A>. 
		Transfer to wordpress by <a href="http://www.cloudlychen.net">Cloudly</a></p>
	<p><!-- 37 queries. 0.501 seconds. -->
    </p>
    </address>


</div>