<div id="author_top">
		<span>&nbsp;</span>
		<ul>
                      <li></li>
                      <li><a href="http://blog.loyhome.cn/" target=_blank>落园后花园</a></li>
		    	      <li><a href="http://www.loyhome.com/wp-login.php">Log in</a></li>
                  <li><a href="http://www.loyhome.com/wp-admin/post-new.php">撰写新文章</a></li>
                                              
					 
		</ul>
	</div>
	<hr />

	<div id="header">
		<h1 ><a href="{{ site.baseurl }}/">落园</a><span style="font-size:14px;color:#999999;padding-left:20px;font-weight:normal;font-family:Calibri,Verdana">专注经济视角下的互联网 / Economic Observation of the Internet </span></h1>

		<ul style="clear:both">
			<!--<li class="tab_home"><a href="http://www.loyhome.com/">Home</a></li>-->
<li class="tab_home"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/about-economics">事儿关经济</a></li>
<li class="tab_tag"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/internet">互联网产业观察</a></li>
<li class="tab_tag"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/new-foundings">网络新发现</a></li>
<li class="tab_tag"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/reading-and-feeling">读书有感</a></li>
<li class="tab_tag"><a href="http://www.loyhome.com/category/website/application">软件应用</a></li>
<li class="tab_tag"><a href="http://www.loyhome.com/category/life">我的生活状态</a></li>
			<li class="tab_about"><a href="{{site.baseurl}}/me">关于我</a></li>
<li class="tab_about"><a href="http://www.cloudlychen.net">English Version</a></li>
			<!--<li class="tab_guestbook"><a href="http://www.loyhome.com/guestbook">Guest Book</a></li>

			<li class="tab_notice"><a href="http://www.loyhome.com/archives-list">Archives</a></li>
                           <li class="tab_links"><a href="http://www.loyhome.com/301.html">Apply Links</a></li>-->
		</ul>
	</div>
	
	<hr />