<div id="rightColumn">
 
 {% include sidebar/news.html %}
	
	{% include sidebar/feed.html %}		

<!-- Search box -->
	{% include sidebar/search.html %}
<!-- Tag -->
	{% include sidebar/tag.html %}

<!--Pages-->
		<div id="pages_info">
			<ul>	
					</ul>
		</div>


	<!-- Recent posts -->
	
	{% include sidebar/recent.html %}

	<!-- Categories -->
	{% include sidebar/categories.html %}

	<!--Hot&Random posts -->
	{% include sidebar/random.html %}
<!-- Digu 
<embed type="application/x-shockwave-flash" src="http://www.digushow.com/style/images/sign.swf?mid=cloudly&style=3" quality="autohigh" wmode="transparent" width="180" height="400"  pluginspage="http://www.adobe.com/go/getflashplayer" ></embed>-->
		<!-- Bookmarks -->
		{% include sidebar/blogroll.html %}	
				<!--CreativeCommons-->
		{% include sidebar/copyright.html %}	
				
</div>

