---
layout: default
---


<div id="contentColumn">	
			<div class="entry tt-body-category">
				<div class="hentry">
				      <div class="subject" id="post-299">
							<div class="post" id="post-299">
								<h2>{{ page.title }}</h2>
								<ul class="postInfo">
									<li class="infoDate"><dfn>Posted at </dfn>{{ page.date }}</li>
									<li class="infoCategory"><dfn>Filed</dfn> under  </li>
								</ul>
							</div>
					<div class="article">
					{{content}}
					</div>
										
				<div class="list">
					{% include disqus.html %}
				</div>
			</div>
			</div>


			
				    </div>
</div>