			<div id="category" class="module" align="left">
				<h3>分类列表</h3>
			  	<ul>
                                        <li>
                                           <ul>
				 	<li class="cat-item cat-item-4"><a href="http://www.loyhome.com/category/life/" title="View all posts filed under 我的生活状态">我的生活状态</a> (279)
<ul class='children'>
	<li class="cat-item cat-item-3030"><a href="http://www.loyhome.com/category/life/%e4%ba%91%e7%ab%af%e5%b0%8f%e5%8e%a8/" title="View all posts filed under 云端小厨">云端小厨</a> (10)
</li>
	<li class="cat-item cat-item-3025"><a href="http://www.loyhome.com/category/life/%e6%b8%b8%e6%9d%a5%e6%b8%b8%e5%8e%bb/" title="View all posts filed under 游来游去">游来游去</a> (62)
</li>
</ul>
</li>
	<li class="cat-item cat-item-3024"><a href="http://www.loyhome.com/category/%e6%af%94%e8%be%83%e6%ad%a3%e5%bc%8f%e7%9a%84%e6%96%87%e7%ab%a0%e4%bb%ac/" title="View all posts filed under 比较正式的文章们">比较正式的文章们</a> (16)
</li>
	<li class="cat-item cat-item-3026"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/" title="View all posts filed under 经济、IT观察与思考">经济、IT观察与思考</a> (388)
<ul class='children'>
	<li class="cat-item cat-item-3029"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/about-economics/" title="View all posts filed under 事儿关经济">事儿关经济</a> (170)
</li>
	<li class="cat-item cat-item-15"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/internet/" title="View all posts filed under 互联网产业观察">互联网产业观察</a> (50)
</li>
	<li class="cat-item cat-item-3032"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/%e6%b8%b8%e6%88%8f%e5%a8%b1%e4%b9%90/" title="View all posts filed under 游戏娱乐">游戏娱乐</a> (16)
</li>
	<li class="cat-item cat-item-3027"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/new-foundings/" title="View all posts filed under 网络新发现">网络新发现</a> (71)
</li>
	<li class="cat-item cat-item-3028"><a href="http://www.loyhome.com/category/thoughts-on-economics-and-it/reading-and-feeling/" title="View all posts filed under 读书有感">读书有感</a> (54)
</li>
</ul>
</li>
	<li class="cat-item cat-item-2585"><a href="http://www.loyhome.com/category/website/" title="View all posts filed under 网站建设">网站建设</a> (89)
<ul class='children'>
	<li class="cat-item cat-item-12"><a href="http://www.loyhome.com/category/website/wordpress/" title="View all posts filed under Wordpress">Wordpress</a> (16)
</li>
	<li class="cat-item cat-item-3031"><a href="http://www.loyhome.com/category/website/application/" title="View all posts filed under 日常应用">日常应用</a> (47)
</li>
</ul>
</li>
                                           </ul>
                                        </li>
                                    </ul>
			</div>