		<div class="recent module" align="left">
				<h3>近期博文</h3>
				<ol id="recentEntries">
						<li><a href='http://www.loyhome.com/%e5%86%b2%e7%bb%b3%e5%87%a0%e6%97%a5%ef%bc%9a%e8%bf%8e%e7%9d%80%e5%8f%b0%e9%a3%8e%e7%9a%84%e6%97%85%e8%a1%8c/' title='冲绳几日：迎着台风的旅行'>冲绳几日：迎着台风的旅行</a></li>
	<li><a href='http://www.loyhome.com/%e8%90%bd%e5%9b%ad%e6%81%a2%e5%a4%8d%e8%ae%bf%e9%97%ae/' title='落园恢复访问'>落园恢复访问</a></li>
	<li><a href='http://www.loyhome.com/%e9%80%81%e5%88%ab/' title='送别'>送别</a></li>
	<li><a href='http://www.loyhome.com/%e9%99%8d%e7%bb%b4%e6%a8%a1%e5%9e%8b%e8%8b%a5%e5%b9%b2%e6%84%9f%e6%82%9f/' title='降维模型若干感悟'>降维模型若干感悟</a></li>
	<li><a href='http://www.loyhome.com/%e8%af%95%e5%9b%be%e6%8b%bf%e8%b5%b7%e7%9a%84%e7%ac%94/' title='试图拿起的笔'>试图拿起的笔</a></li>
	<li><a href='http://www.loyhome.com/%e6%97%a0%e6%84%8f%e9%97%af%e5%85%a5/' title='无意闯入&#8230;'>无意闯入&#8230;</a></li>
	<li><a href='http://www.loyhome.com/%e4%ba%91%e7%ab%af%e9%b8%a1%e5%b0%be%e9%85%92/' title='云端鸡尾酒'>云端鸡尾酒</a></li>
	<li><a href='http://www.loyhome.com/%e6%8e%a2%e7%b4%a2r%e5%8c%85reshape2%ef%bc%9a%e6%8f%89%e6%95%b0%e6%8d%ae%e7%9a%84%e6%9c%80%e4%bd%b3%e4%bc%b4%e4%be%a3/' title='探索R包reshape2：揉数据的最佳伴侣'>探索R包reshape2：揉数据的最佳伴侣</a></li>
	<li><a href='http://www.loyhome.com/%e5%91%a8%e6%9c%ab%e4%b8%a4%e6%97%a5%e5%9c%a8%e8%8b%8f%e5%b7%9e%e6%83%8a%e9%ad%82%e7%af%87/' title='周末两日在苏州(惊魂篇)'>周末两日在苏州(惊魂篇)</a></li>
	<li><a href='http://www.loyhome.com/%e5%a3%b0%e8%aa%89%e6%ba%a2%e4%bb%b7%e8%ae%a9%e8%b5%84%e6%9c%ac%e5%b8%82%e5%9c%ba%e6%b3%a2%e5%8a%a8%e6%84%88%e6%bc%94%e6%84%88%e7%83%88%ef%bc%9f/' title='声誉溢价让资本市场波动愈演愈烈？'>声誉溢价让资本市场波动愈演愈烈？</a></li>
				</ol>
			</div>