<div id="tagbox" class="module">
				<h3>Tag 云</h3>
									<ul class='wp-tag-cloud'>
	<li><a href='http://www.loyhome.com/tag/google/' class='tag-link-164' title='16 topics' style='font-size: 9.79104477612pt;'>Google</a></li>
	<li><a href='http://www.loyhome.com/tag/latex/' class='tag-link-229' title='23 topics' style='font-size: 12.0298507463pt;'>Latex</a></li>
	<li><a href='http://www.loyhome.com/tag/lyx/' class='tag-link-244' title='20 topics' style='font-size: 11.1343283582pt;'>lyx</a></li>
	<li><a href='http://www.loyhome.com/tag/r/' class='tag-link-325' title='28 topics' style='font-size: 13.223880597pt;'>R</a></li>
	<li><a href='http://www.loyhome.com/tag/r%e4%bc%9a%e8%ae%ae/' class='tag-link-339' title='17 topics' style='font-size: 10.2388059701pt;'>R会议</a></li>
	<li><a href='http://www.loyhome.com/tag/wordpress/' class='tag-link-12' title='23 topics' style='font-size: 12.0298507463pt;'>Wordpress</a></li>
	<li><a href='http://www.loyhome.com/tag/%e4%b8%8a%e6%b5%b7/' class='tag-link-453' title='17 topics' style='font-size: 10.2388059701pt;'>上海</a></li>
	<li><a href='http://www.loyhome.com/tag/%e4%bf%a1%e6%81%af/' class='tag-link-636' title='13 topics' style='font-size: 8.59701492537pt;'>信息</a></li>
	<li><a href='http://www.loyhome.com/tag/%e5%87%af%e6%81%a9%e6%96%af/' class='tag-link-727' title='13 topics' style='font-size: 8.59701492537pt;'>凯恩斯</a></li>
	<li><a href='http://www.loyhome.com/tag/%e5%87%ba%e5%9b%bd/' class='tag-link-732' title='19 topics' style='font-size: 10.8358208955pt;'>出国</a></li>
	<li><a href='http://www.loyhome.com/tag/%e5%8d%9a%e5%ae%a2/' class='tag-link-817' title='17 topics' style='font-size: 10.2388059701pt;'>博客</a></li>
	<li><a href='http://www.loyhome.com/tag/%e5%8d%9a%e5%bc%88%e8%ae%ba/' class='tag-link-826' title='20 topics' style='font-size: 11.1343283582pt;'>博弈论</a></li>
	<li><a href='http://www.loyhome.com/tag/%e5%ad%a6%e4%b9%a0/' class='tag-link-1046' title='17 topics' style='font-size: 10.2388059701pt;'>学习</a></li>
	<li><a href='http://www.loyhome.com/tag/%e5%b7%b4%e5%a1%9e%e7%bd%97%e9%82%a3/' class='tag-link-1152' title='14 topics' style='font-size: 9.0447761194pt;'>巴塞罗那</a></li>
	<li><a href='http://www.loyhome.com/tag/%e6%95%b0%e5%ad%a6/' class='tag-link-1398' title='34 topics' style='font-size: 14.4179104478pt;'>数学</a></li>
	<li><a href='http://www.loyhome.com/tag/%e6%9c%8b%e5%8f%8b/' class='tag-link-1532' title='17 topics' style='font-size: 10.2388059701pt;'>朋友</a></li>
	<li><a href='http://www.loyhome.com/tag/%e6%b8%b8%e6%88%8f/' class='tag-link-1713' title='16 topics' style='font-size: 9.79104477612pt;'>游戏</a></li>
	<li><a href='http://www.loyhome.com/tag/%e7%94%9f%e6%b4%bb/' class='tag-link-1818' title='12 topics' style='font-size: 8pt;'>生活</a></li>
	<li><a href='http://www.loyhome.com/tag/%e7%a4%be%e4%bc%9a%e7%bd%91%e7%bb%9c/' class='tag-link-1904' title='27 topics' style='font-size: 13.0746268657pt;'>社会网络</a></li>
	<li><a href='http://www.loyhome.com/tag/%e7%bb%8f%e6%b5%8e%e5%ad%a6/' class='tag-link-2011' title='59 topics' style='font-size: 18pt;'>经济学</a></li>
	<li><a href='http://www.loyhome.com/tag/%e7%bb%8f%e6%b5%8e%e5%ad%a6%e5%ae%b6/' class='tag-link-2021' title='14 topics' style='font-size: 9.0447761194pt;'>经济学家</a></li>
	<li><a href='http://www.loyhome.com/tag/%e7%bb%9f%e8%ae%a1%e5%ad%a6/' class='tag-link-2056' title='17 topics' style='font-size: 10.2388059701pt;'>统计学</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%80%83%e8%af%95/' class='tag-link-2115' title='13 topics' style='font-size: 8.59701492537pt;'>考试</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%90%bd%e5%9b%ad/' class='tag-link-2203' title='31 topics' style='font-size: 13.9701492537pt;'>落园</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%ae%a1%e9%87%8f%e7%bb%8f%e6%b5%8e%e5%ad%a6/' class='tag-link-2260' title='28 topics' style='font-size: 13.223880597pt;'>计量经济学</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%ae%b2%e5%ba%a7/' class='tag-link-2270' title='27 topics' style='font-size: 13.0746268657pt;'>讲座</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%ae%ba%e6%96%87/' class='tag-link-2275' title='35 topics' style='font-size: 14.7164179104pt;'>论文</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%af%bb%e4%b9%a6/' class='tag-link-2307' title='30 topics' style='font-size: 13.671641791pt;'>读书</a></li>
	<li><a href='http://www.loyhome.com/tag/%e8%bd%af%e4%bb%b6/' class='tag-link-2368' title='15 topics' style='font-size: 9.34328358209pt;'>软件</a></li>
	<li><a href='http://www.loyhome.com/tag/%e9%87%91%e8%9e%8d/' class='tag-link-2424' title='18 topics' style='font-size: 10.5373134328pt;'>金融</a></li>
</ul>
                                			</div>